<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot Passowrd</title>
    <link rel="icon" href="../images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
        <img src="../images/logo.png" width="50px" height="50px" alt="image">
        <h1>RBAC</h1>
        <span>
            <a href="/">Home</a>
            <a href="/register">register</a>
        </span>
    </nav>
    <div id="password-div">
        <h1>new password</h1>
        <div id="password-detail">
            <input type="email" id="email" placeholder="Enter email" required>

            <input type="text" id="password1" placeholder="Enter password" required>
            <input type="text" id="password2" placeholder="Re-enter password" required>
            
            <button id="button">submit</button>
            <a href="/login">Back to login</a>
        </div>
    </div>
    <script>
        const loginButton = document.getElementById("button");
        
        loginButton.onclick = async (e) => {
            const email = document.getElementById('email').value;
            const password = document.getElementById('password1').value;
            const password2 = document.getElementById('password2').value;

            if (!email || !password | !password2) {
                alert("Email and password are required");
                return;
            }

            if(password != password2){
                alert('password doesnt match');
            }else{
            const response = await fetch("/forgotPassword", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    email,
                    password
                })
            });

            if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
            }
            const res = await response.json();
            console.log(res)
            
            alert('Passowrd been updated')
            localStorage.setItem("id",res.id);
            window.location.pathname = '/login'
        
        }
        };
    
    </script>
</body>
</html>