<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="icon" href="../images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
    <nav>
        <img src="../images/logo.png" width="50px" height="50px" alt="image">
        <h1>RBAC</h1>
        <span>
            <a href="/">Home</a>
            <a href="/login">login</a>
            <a href="/register">register</a>
        </span>
    </nav>
    <div id="home-div">
        <div>
            <p>
               <h1>Welcome to Role-Based Access Control (RBAC) System!</h1>
               
               <p>This RBAC system is designed for secure and efficient management of user data and roles.</p>
                <p>Built using MySQL, FastAPI, JavaScript, and HTML/CSS, it offers seamless functionality 
                and robust security features.</p>
                <h5>Here's an overview of what our system provides:</h5>

            </p>
        </div>
        <div>
            <h2>Key Features:</h2>
                <h3>User Registration & Login:</h3>
                <ul>
                    <li>Users can register with their email address and create an account.</li>
                    <li>Email uniqueness is enforced—registration with an existing email is not allowed.</li>
                    <li>After registering, users can log in to access their personalized data.</li>
                </ul>

                
                
                <h3>Role Management:</h3>

                <ul>
                    <h4>Admin Role:</h4>
                    <ul>
                        <li>The admin is pre-configured in the database.</li>
                        <li><h5>Admins have access to advanced functionality, including:</h5>
                            <ul>
                                <li>Viewing all user data.</li>
                                <li>Adding new users.</li>
                                <li>Updating user details.</li>
                                <li>Deleting users.</li>
                            </ul>
                        </li>
                    </ul>

                    
                    <h4>User Role:</h4>
                    <ul>
                        <li>Users can only view and manage their own data, ensuring privacy and restricted access.</li>
                    </ul>
                    </li>
                </ul>

                
                
                
                
               
                
                
                
        </div>
    </div>

</body>
</html>

